/*Bagian huruf atau model huruf*/

{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif
}

/*bagian gambar latar belakang*/

body{
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSawvotWnBN4vLYcZ_qXnxz506ePVmEuT7zsA&usqp=CAU);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Bagian Kotak Warna*/

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;

    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}

/*Bagian Judul Header*/

.container h1{
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}

/*Bagian Label Username Dan Password*/

.container label{
    text-align: left;
    color: #90caf9;
}

/*Bagian untuk form atau tempat isi data Username dan password*/

.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
}

/*Bagian untuk Tombol Register atau login sekarang*/

.container form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}